@font-face {
  font-family: 'Lora';
  src: url('/assets/webfonts/lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/webfonts/lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/webfonts/lora/Lora-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/webfonts/lora/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/webfonts/lora/Lora-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/webfonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/webfonts/lora/Lora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/webfonts/lora/Lora-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}